<html lang="en">
<head>
    <!-- link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css' -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" language="javascript" src="/alerta/assets/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/alerta/assets/DataTables/media/js/jquery.dataTables.min.js"></script>

    <link href="/alerta/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/alerta/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/alerta/assets/DataTables/bootstrap/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/alerta/assets/css/custom.css" rel="stylesheet">
    <link href="/alerta/assets/DataTables/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="">Alert Console</a>
        </div>
    </div>
</div>

<div class="container">

<div class="row-fluid">
    <div class ="span6">
        <div id="status-select" class="btn-group" data-toggle="buttons-checkbox">
            <button id="status-select-open" type="button" class="btn active" value="open">Open <span id="count-open" class="label">0</span></button>
            <button id="status-select-ack" type="button" class="btn" value="ack">Ack <span id="count-ack" class="label">0</span></button>
            <button id="status-select-closed" type="button" class="btn" value="closed">Closed <span id="count-closed" class="label">0</span></button>
        </div>
    </div>
    <div class ="span6" align="right">
        <span id="from-date-select" class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn" name="last" value="300">5m</button>
            <button type="button" class="btn" name="last" value="900">15m</button>
            <button type="button" class="btn" name="last" value="3600">1h</button>
            <button type="button" class="btn" name="last" value="86400">1d</button>
            <button type="button" class="btn active" name="last" value="0">All</button>
        </span>
        <span>
            <button id="refresh-all" class="console-button btn" align="right"><i class="icon-refresh"></i><span class="refresh-button-text"> Refresh</span></button>
        </span>
    </div>
</div>

    <table width="100%">
        <tr>
            <span id="heartbeat-alerts"></span>
            <div id="console-alert" class="alert alert-info initially-hidden">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong>Warning!</strong> <span id="warning-text"></span>
            </div>
        </tr>
    </table>

<!-- Alert Details -->
<div class="row show-grid">
    <div class="span12">

        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered table-condensed"
               id="alerts">
            <thead>
            <tr>
                <th>Severity</th>
                <th>Status</th>
                <th>Last Receive Time</th>
                <th>Dupl.</th>
                <th>Environment</th>
                <th>Service</th>
                <th>Resource</th>
                <th>Event</th>
                <th>Value</th>
                <th>Text</th>
                <th>Severity Code</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <tr>
                <th>Severity</th>
                <th>Status</th>
                <th>Last Receive Time</th>
                <th>Dupl.</th>
                <th>Environment</th>
                <th>Service</th>
                <th>Resource</th>
                <th>Event</th>
                <th>Value</th>
                <th>Text</th>
                <th>Severity Code</th>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
<!-- end Alert Details -->

</div>
<!-- end container -->

<script src="/alerta/assets/js/config.js"></script>
<script src="/alerta/assets/js/console.js"></script>

<script>
    $(document).ready(function() {

        heartbeatAlerts();

        var filter = '{{ query|safe }}';
        var asiFilters = { };

        updateStatusCounts(filter, true);
        updateAllIndicators(filter, asiFilters, true);
        updateAlertsTable(filter, asiFilters);
    });
</script>

<script src="/alerta/assets/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
<script src="/alerta/assets/DataTables/bootstrap/dataTables.bootstrap.js"></script>
<script src="/alerta/assets/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/alerta/assets/bootstrap/js/bootstrap-alert.js"></script>

</body>
</html>
