<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css' -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" language="javascript" src="/alerta/assets/DataTables/media/js/jquery.js"></script>

    <link href="/alerta/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/alerta/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/alerta/assets/css/custom.css" rel="stylesheet">

</head>
<body class="widget">

<div class="row show-grid">
    <div class="span1">
        <!-- a href="./details{% if query %}?{{ query|safe }}{% endif %}" target="_blank" -->
        <table class="table table-bordered table-condensed status-indicator" id="widget" data-label="widget">
            <!-- thead id="widget-overall" class="status-indicator-overall">
            <tr>
                <th colspan="1" id="widget-status">{{ label }}</th>
            </tr>
            </thead -->
            <tbody>
            <tr>
                <td id="widget-status-label"><b>{% if label %}{{ label }}{% else %}...{% endif %}</b></td>
                <td id="widget-status-value"><b>...</b></td>
            </tr>
            </tbody>
        </table>
        </a>
    </div>
</div>

<script src="/alerta/assets/js/config.js"></script>

<script>

    var API_HOST = appConfig.api_host + ':' + appConfig.api_port;
    var REFRESH_INTERVAL = 30; // seconds

    var filter = '{{ query|safe }}';
    var status = ''; //'&status=open';
    var limit = '&limit=1';
    var from = '';
    var timer;

    function updateStatusIndicator(filter, refresh) {

        $.getJSON('http://' + API_HOST + '/api/alerts?callback=?&'
                + filter + status + limit + from, function (data) {

            var more = '';
            if (data.more) {
                more = ' *';
            }

            $.each(data.alerts, function (i, alert) {

                {% if not label %}
                $('#widget-status-label').html('<b>' + alert.event + '</b>');
                {% endif %}

                $('#widget-status-value').html('<b>' + alert.value + more + '</b>');
                $('#widget-status-value').addClass("severity-" + alert.severity);
            });

            if (refresh) {
                timer = setTimeout(function () {
                    updateStatusIndicator(filter, refresh);
                }, REFRESH_INTERVAL * 1000);
            }
        });
    }

    $(document).ready(function() {
        updateStatusIndicator(filter, true);
    });
</script>

</body>
</html>