language: python
python:
  - "2.7"
  - "3.5"

env:
  - DB=mongodb DATABASE_URL=mongodb://localhost:27017/alerta5
  - DB=postgres DATABASE_URL=postgres://localhost:5432/alerta5

services:
  - mongodb
  - postgresql

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    packages:
    - mongodb-org-server
  postgresql: "9.5"

before_script:
  - sh -c "if [ '$DB' = 'postgres' ]; then psql -c 'DROP DATABASE IF EXISTS alerta5;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'postgres' ]; then psql -c 'CREATE DATABASE alerta5;' -U postgres; fi"

install:
  - "pip install ."
  - "pip install -r requirements.txt"

script: nosetests --verbosity=3 tests/*
