exclude .gitignore
global-exclude *.pyc
include alerta/app/app.wsgi
include alerta/dashboard/v2/dashboard.wsgi
recursive-include alerta/app/templates *
recursive-include alerta/dashboard/v2/templates *
recursive-include alerta/dashboard/v2/assets *

