include VERSION
include LICENSE
include NOTICE
include README.md
exclude .gitignore
global-exclude *.pyc
include alerta/app/app.wsgi
include alerta/app/sql/schema.sql
recursive-include alerta/app/templates *
recursive-include alerta/app/static *
