include VERSION
include LICENSE
include NOTICE
include README.md
exclude .gitignore
global-exclude *.pyc
include alerta/app.wsgi
include alerta/sql/schema.sql
recursive-include alerta/templates *
recursive-include alerta/static *
