bcrypt==3.1.6
cryptography==2.6.1
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.7
psycopg2==2.8.1
PyJWT==1.7.1
pymongo==3.7.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
sentry-sdk[flask]===0.10.2
