
@font-face {
    font-family: Sintony;
    src: url('../fonts/Sintony-Regular.ttf');
}

@font-face {
    font-family: Sintony;
    font-weight: bold;
    src: url('../fonts/Sintony-Bold.ttf');
}

table {
    margin: 0;
    font-family: Sintony, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    background-color: #ffffff;
    font-weight: normal;
}

.table tbody tr:hover td.zero, .zero {
    background-color: #ddd;
}

.status-indicator, #alerts {
    cursor: pointer;
    transition: opacity .4s;
}

.status-indicator.current-filter {
    opacity: 1;
}

.status-indicator-inactive {
    opacity: 0.4;
}

.status-indicator {
    font-size: 14px;
}

#status-counts {
    font-size: 13px;
    margin-top:14px;
}
.severity-critical {
  background-color: red;
}

.severity-major {
  background-color: orange;
}

.severity-minor {
	background-color: yellow;
}

.severity-warning {
  background-color: #1E90FF; // dodger-blue
}

.severity-normal {
  background-color: #00CC00;
}

.severity-informational {
  background-color: #00CC00;
}

.severity-debug {
  background-color: #7554BF;
}

.status-closed {
  background-color: rgba(0, 0, 0, 0.5);
}

.label {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.label-critical {
    background-color: #b94a48;
}

.label-major {
    background-color: #f89406;
}

.label-minor {
    background-color: #ffd700;
}

.label-warning {
    background-color: #3a87ad;
}

.label-normal {
    background-color: #468847;
}

.label-inverse {
    background-color: #333333;
}

.loader {
    background-image: url(../img/loading.gif);
    background-position: right top;
    background-repeat: no-repeat;
}

.initially-hidden {
    display: none;
}

td {
    white-space: nowrap;
}

.paginate_disabled_previous, .paginate_disabled_next {
    opacity: 0.2;
}

.paginate_previous, .paginate_disabled_previous {
    margin-right: 1rem;
}

.paginate_previous:before, .paginate_disabled_previous:before {
    content: '\00AB\0020';
}

.paginate_next:after, .paginate_disabled_next:after {
    content: '\0020\00BB';
}

.paginate_previous, .paginate_next, .paginate_disabled_previous, .paginate_disabled_next {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: solid 1px black;
    color: black;
}

.paginate_previous, .paginate_next {
    cursor: pointer;
    opacity: 0.85;
}

.paginate_previous:visited, .paginate_next:visited,
.paginate_disabled_previous:visited, .paginate_disabled_next:visited,
.paginate_previous:hover, .paginate_next:hover,
.paginate_disabled_previous:hover, .paginate_disabled_next:hover {
    color:black;
}

.paginate_disabled_previous:hover, .paginate_disabled_next:hover {
    text-decoration: none;
}

.dataTables_paginate {
    float:right;
}