
@font-face {
    font-family: Sintony;
    src: url('../fonts/Sintony-Regular.ttf');
}

@font-face {
    font-family: Sintony;
    font-weight: bold;
    src: url('../fonts/Sintony-Bold.ttf');
}

table {
    margin: 0;
    font-family: Sintony, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    background-color: #ffffff;
    font-weight: normal;
}

.table tbody tr:hover td.zero, .zero {
    background-color: #ddd;
}

.alert-summary, .ack-alert, .delete-alert {
    cursor: pointer;
}

.alert-summary-actions {
    margin: 0.5rem;
}

.status-indicator {
    cursor: pointer;
    transition: opacity .4s;
}

.status-indicator.current-filter {
    opacity: 1;
}

.status-indicator-inactive {
    opacity: 0.4;
}

.status-indicators {
    padding-top: 10px;
}
.status-indicator {
    font-size: 14px;
}

#status-counts {
    font-size: 13px;
    margin-top:14px;
}
.severity-critical {
  background-color: red;
}

.severity-major {
  background-color: orange;
}

.severity-minor {
	background-color: yellow;
}

.severity-warning {
  background-color: #1E90FF; // dodger-blue
}

.severity-normal {
  background-color: #00CC00;
}

.severity-informational {
  background-color: #00CC00;
}

.severity-debug {
  background-color: #7554BF;
}

.status-closed {
  background-color: rgba(0, 0, 0, 0.5);
}

.label {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}

.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.label-critical {
    background-color: #b94a48;
}

.label-major {
    background-color: #f89406;
}

.label-minor {
    background-color: #ffd700;
}

.label-warning {
    background-color: #3a87ad;
}

.label-normal {
    background-color: #468847;
}

.label-inverse {
    background-color: #333333;
}

.loader {
    background-image: url(../img/loading.gif);
    background-position: right top;
    background-repeat: no-repeat;
}

.initially-hidden {
    display: none;
}

.row-fluid {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.alerts-display .no-wrap {
    white-space: nowrap;
}

.alerts-display .alert-summary-cell {
    display: none;
}

.alerts-display .essential {
    display: table-cell;
}

@media screen and (min-width: 700px) {
    .alerts-display .optional {
        display: table-cell;
    }
}

@media screen and (min-width: 1000px) {
    .alerts-display .full {
        display: table-cell;
    }

    .alert-detail-summary {
        max-width: 40rem;
    }
}

@media screen and (max-width: 400px) {
    .details td {
        display: inline-block;
    }
}

.alert-detail-summary-wrapper, .history-wrapper {
    display: block;
    width: 100%;
}


@media screen and (min-width: 30rem) {
    .alert-detail-summary-wrapper, .history-wrapper {
        display: inline-block;
        max-width: 30rem;
        width: auto;
        margin: 0.25rem 0.5rem;
        vertical-align: top;
    }
}

.select-full-text, .refresh-button-text {
    display: none;
}

@media screen and (min-width: 30rem) {
    .select-full-text, .refresh-button-text {
        display: inline;
    }
}

.filters {
    display:inline-block;
    max-width: 25rem;
}

.alert-filter {
    width: auto;
}

@media only screen and (max-width: 800px) {

    #heartbeats td:nth-child(3),
    #heartbeats th:nth-child(3){display: none;}
}

@media only screen and (max-width: 640px) {

    #heartbeats td:nth-child(2),
    #heartbeats th:nth-child(2),
    #heartbeats td:nth-child(3),
    #heartbeats th:nth-child(3),
    #heartbeats td:nth-child(5),
    #heartbeats th:nth-child(5){display: none;}
}
