{% extends "index.html" %}

{% block navigation %}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="console.html">Production</a></li>
                    <li class=""><a href="null.html">Development</a></li>
                    <li class=""><a href="null.html">Infrastructure</a></li>
                    <li class=""><a href="null.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
{% endblock %}

{% block status_indicators %}
    <div class="row show-grid status-indicators">
        <div class="span12">
            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Web" data-label="Web">
                        <thead id="Web-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Web-status">Web</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Web-status-indicator">
                            <td id="Web-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Web-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Web-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Web-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Web-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Common" data-label="Common">
                        <thead id="Common-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Common-status">Common</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Common-status-indicator">
                            <td id="Common-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Common-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Common-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Common-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Common-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Platform" data-label="Platform">
                        <thead id="Platform-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Platform-status">Platform</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Platform-status-indicator">
                            <td id="Platform-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Platform-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Platform-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Platform-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Platform-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Other" data-label="Other">
                        <thead id="Other-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Other-status">Other</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Other-status-indicator">
                            <td id="Other-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Other-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Other-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Other-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Other-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block initialiser %}
<script>
    $(document).ready(function() {

        heartbeatAlerts();

        var env_filter = '&environment=PROD|DEV|INFRA';
        var asiFilters = {
            'Web':      '&service=Web',
            'Common':   '&service=Common',
            'Platform': '&service=Platform',
            'Other':    '&service!=~Web|Common|Platform'
        };
        updateStatusCounts(env_filter, true);
        updateAllIndicators(env_filter, asiFilters, true);
        updateAlertsTable(env_filter, asiFilters);
    });
</script>
{% endblock %}
