{% extends "index.html" %}

            {% block navigation %}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="index.html">Production</a></li>
                    <li class="active"><a href="./dev.html">Development</a></li>
                    <li class=""><a href="infra.html">Infrastructure</a></li>
                    <li class=""><a href="about.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            {% endblock %}

    {% block status_indicators %}
    <div class="row show-grid status-indicators">
        <div class="span12">

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="R2R1" data-label="R2R1">
                        <thead id="R2R1-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="R2R1-status">R2 &amp; R1</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="R2R1-status-indicator">
                            <td id="R2R1-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="R2R1-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="R2R1-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="R2R1-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="R2R1-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="FrontendMobile" data-label="FrontendMobile">
                        <thead id="FrontendMobile-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="FrontendMobile-status">Frontend &amp; Mobile</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="FrontendMobile-status-indicator">
                            <td id="FrontendMobile-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FrontendMobile-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FrontendMobile-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FrontendMobile-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FrontendMobile-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="ContentAPI" data-label="ContentAPI">
                        <thead id="ContentAPI-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="ContentAPI-status">Content API</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="ContentAPI-status-indicator">
                            <td id="ContentAPI-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="ContentAPI-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="ContentAPI-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="ContentAPI-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="ContentAPI-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Shared" data-label="Shared">
                        <thead id="Shared-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Shared-status">Shared Services</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Shared-status-indicator">
                            <td id="Shared-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Shared-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Shared-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Shared-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Shared-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="D2MicroApps" data-label="D2MicroApps">
                        <thead id="D2MicroApps-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="D2MicroApps-status">D2 &amp; Micro Apps</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="D2MicroApps-status-indicator">
                            <td id="D2MicroApps-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="D2MicroApps-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="D2MicroApps-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="D2MicroApps-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="D2MicroApps-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="FlexibleIdentity" data-label="FlexibleIdentity">
                        <thead id="FlexibleIdentity-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="FlexibleIdentity-status">Flexible Content &amp; Identity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="FlexibleIdentity-status-indicator">
                            <td id="FlexibleIdentity-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FlexibleIdentity-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FlexibleIdentity-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FlexibleIdentity-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="FlexibleIdentity-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Other" data-label="Other">
                        <thead id="Other-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Other-status">Other Services</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Other-status-indicator">
                            <td id="Other-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Network" data-label="Network">
                        <thead id="Network-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Network-status">Network Services</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Network-status-indicator">
                            <td id="Network-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->
        </div>
    </div>
    {% endblock %}

{% block initialiser %}
<script>
    $(document).ready(function() {

        heartbeatAlerts();

        var env_filter = '&environment=development';
        var asiFilters = {
            'R2R1':             '&service=R2&service=R1',
            'FrontendMobile':   '&service=Frontend&service=Mobile',
            'ContentAPI':       '&service=ContentAPI',
            'Shared':           '&service=SharedSvcs',
            'D2MicroApps':      '&service=Discussion&service=MicroApp',
            'FlexibleIdentity': '&service=FlexibleContent&service=Identity',
            'Other':            '&service!=~R2|R1|Frontend|Mobile|ContentAPI|Shared|Discussion|MicroApp|FlexibleContent|Identity|Network',
            'Network':          '&service=Network'
        };
        updateStatusCounts(env_filter, true);
        updateAllIndicators(env_filter, asiFilters, true);
        updateAlertsTable(env_filter, asiFilters);
    });
</script>
{% endblock %}
