<html lang="en">
<head>
    <!-- link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css' -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" language="javascript" src="/alerta/assets/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/alerta/assets/DataTables/media/js/jquery.dataTables.min.js"></script>

    <link href="/alerta/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/alerta/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/alerta/assets/DataTables/bootstrap/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/alerta/assets/css/custom.css" rel="stylesheet">
    <link href="/alerta/assets/DataTables/extras/TableTools/media/css/TableTools.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html">Alert Console</a>
            {% block navigation %}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="index.html">Production</a></li>
                    <li class=""><a href="dev.html">Development</a></li>
                    <li class=""><a href="infra.html">Infrastructure</a></li>
                    <li class=""><a href="about.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </div>
</div>

<div class="container">

<div class="row-fluid">
    <div class ="span6">
        <div id="status-select" class="btn-group" data-toggle="buttons-checkbox">
            <button id="status-select-open" type="button" class="btn active" value="open">Open <span id="count-open" class="label">0</span></button>
            <button id="status-select-ack" type="button" class="btn" value="ack">Ack <span id="count-ack" class="label">0</span></button>
            <button id="status-select-closed" type="button" class="btn" value="closed">Closed <span id="count-closed" class="label">0</span></button>
        </div>
    </div>
    <div class ="span6" align="right">
        <span id="from-date-select" class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn" name="last" value="300">5m</button>
            <button type="button" class="btn" name="last" value="900">15m</button>
            <button type="button" class="btn" name="last" value="3600">1h</button>
            <button type="button" class="btn" name="last" value="86400">1d</button>
            <button type="button" class="btn active" name="last" value="0">All</button>
        </span>
        <span>
            <button id="refresh-all" class="console-button btn" align="right"><i class="icon-refresh"></i><span class="refresh-button-text"> Refresh</span></button>
        </span>
    </div>
</div>

    <table width="100%">
        <tr>
            <span id="heartbeat-alerts"></span>
            <div id="console-alert" class="alert alert-info initially-hidden">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong>Warning!</strong> <span id="warning-text"></span>
            </div>
        </tr>
    </table>


    {% block status_indicators %}   
    <div class="row show-grid status-indicators">
        <div class="span12">

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Web" data-label="Web">
                        <thead id="Web-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Web-status">Web</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Web-status-indicator">
                            <td id="Web-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Web-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Web-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Web-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Web-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Application" data-label="Application">
                        <thead id="Application-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Application-status">Applications</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Application-status-indicator">
                            <td id="Application-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Application-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Application-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Application-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Application-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Database" data-label="Database">
                        <thead id="Database-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Database-status">Databases</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Database-status-indicator">
                            <td id="Database-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Database-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Database-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Database-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Database-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Storage" data-label="Storage">
                        <thead id="Storage-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Storage-status">Storage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Storage-status-indicator">
                            <td id="Storage-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Storage-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Storage-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Storage-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Storage-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->


            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="OS" data-label="OS">
                        <thead id="OS-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="OS-status">OS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="OS-status-indicator">
                            <td id="OS-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="OS-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="OS-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="OS-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="OS-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Hardware" data-label="Hardware">
                        <thead id="Hardware-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Hardware-status">Hardware</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Hardware-status-indicator">
                            <td id="Hardware-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Other" data-label="Other">
                        <thead id="Other-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Other-status">Other Services</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Other-status-indicator">
                            <td id="Other-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Other-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Network" data-label="Network">
                        <thead id="Network-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Network-status">Network Services</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Network-status-indicator">
                            <td id="Network-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Network-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->
        </div>
    </div>
    {% endblock %}

    <!-- Alert Details -->
    <div class="row-fluid show-grid">
        <div class="span12">

            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered table-condensed alerts-display" id="alerts">
                <thead>
                <tr>
                    <th>Severity</th>
                    <th>Status</th>
                    <th>Last Receive Time</th>
                    <th>Dupl.</th>
                    <th>Environment</th>
                    <th>Service</th>
                    <th>Resource</th>
                    <th>Event</th>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Severity Code</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <th>Severity</th>
                    <th>Status</th>
                    <th>Last Receive Time</th>
                    <th>Dupl.</th>
                    <th>Environment</th>
                    <th>Service</th>
                    <th>Resource</th>
                    <th>Event</th>
                    <th>Value</th>
                    <th>Text</th>
                    <th>Severity Code</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <!-- end Alert Details -->

</div>
<!-- end container -->

<script src="/alerta/assets/js/config.js"></script>
<script src="/alerta/assets/js/console.js"></script>

{% block initialiser %}

<script>
    $(document).ready(function() {

        heartbeatAlerts();

        var env_filter = '&environment=production';
        var asiFilters = {
            'Web':         '&group=Web',
            'Application': '&group=Application',
            'Database':    '&group=Database',
            'Storage':     '&group=Storage',
            'OS':          '&group=OS',
            'Hardware':    '&group=Hardware',
            'Other':       '&group!=~Web|Application|Database|Storage|OS|Hardware|Network',
            'Network':     '&group=Network'
        };
        console.log('env_filter=' + env_filter);
        updateStatusCounts(env_filter, true);
        updateAllIndicators(env_filter, asiFilters, true);
        updateAlertsTable(env_filter, asiFilters);

    });
</script>
{% endblock %}

<script src="/alerta/assets/DataTables/extras/TableTools/media/js/TableTools.min.js"></script>
<script src="/alerta/assets/DataTables/bootstrap/dataTables.bootstrap.js"></script>
<script src="/alerta/assets/bootstrap/js/bootstrap-collapse.js"></script>
<script src="/alerta/assets/bootstrap/js/bootstrap-alert.js"></script>

</body>
</html>
