{% extends "index.html" %}

{% block navigation %}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="index.html">Production</a></li>
                    <li class=""><a href="dev.html">Development</a></li>
                    <li class="active"><a href="./infra.html">Infrastructure</a></li>
                    <li class=""><a href="about.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
{% endblock %}

{% block status_indicators %}
    <div class="row show-grid status-indicators">
        <div class="span12">

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="KPL" data-label="KPL">
                        <thead id="KPL-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="KPL-status">Kings Place (DC1)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="KPL-status-indicator">
                            <td id="KPL-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="KPL-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="KPL-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="KPL-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="KPL-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="BRK" data-label="BRK">
                        <thead id="BRK-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="BRK-status">Bracknell (DC2)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="BRK-status-indicator">
                            <td id="BRK-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="BRK-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="BRK-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="BRK-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="BRK-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="EC2" data-label="EC2">
                        <thead id="EC2-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="EC2-status">AWS/EC2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="EC2-status-indicator">
                            <td id="EC2-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="EC2-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="EC2-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="EC2-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="EC2-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="NetworkSyslog" data-label="NetworkSyslog">
                        <thead id="NetworkSyslog-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="NetworkSyslog-status">Network Services &amp; Syslog</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="NetworkSyslog-status-indicator">
                            <td id="NetworkSyslog-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="NetworkSyslog-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="NetworkSyslog-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="NetworkSyslog-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="NetworkSyslog-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="AlertaGanglia" data-label="AlertaGanglia">
                        <thead id="AlertaGanglia-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="AlertaGanglia-status">Alerta &amp; Ganglia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="AlertaGanglia-status-indicator">
                            <td id="AlertaGanglia-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="AlertaGanglia-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="AlertaGanglia-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="AlertaGanglia-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="AlertaGanglia-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Puppet" data-label="Puppet">
                        <thead id="Puppet-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Puppet-status">Puppet</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Puppet-status-indicator">
                            <td id="Puppet-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Puppet-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Puppet-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Puppet-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Puppet-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Deploys" data-label="Deploys">
                        <thead id="Deploys-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Deploys-status">RiffRaff Deploys</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Deploys-status-indicator">
                            <td id="Deploys-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Deploys-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Deploys-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Deploys-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Deploys-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Hardware" data-label="Hardware">
                        <thead id="Hardware-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Hardware-status">Hardware</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Hardware-status-indicator">
                            <td id="Hardware-critical" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-major" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-minor" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-warning" class="status-indicator-count zero"><b>0</b></td>
                            <td id="Hardware-normal" class="status-indicator-count zero"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->
        </div>
    </div>
{% endblock %}

{% block initialiser %}
<script>
    $(document).ready(function() {

        heartbeatAlerts();

        var env_filter = '&environment=infrastructure';
        var asiFilters = {
            'KPL':           '&tags=datacentre:dc1',
            'BRK':           '&tags=datacentre:dc2',
            'EC2':           '&tags=datacentre:eu-west-1',
            'NetworkSyslog': '&group=Network&group=Syslog',
            'AlertaGanglia': '&q={"$or":[{"service":"Alerta"},{"group":"Ganglia"}]}',
            'Puppet':        '&group=Puppet',
            'Deploys':       '&group=Deploys',
            'Hardware':      '&group=Hardware'
        };
        updateStatusCounts(env_filter, true);
        updateAllIndicators(env_filter, asiFilters, true);
        updateAlertsTable(env_filter, asiFilters);
    });
</script>

{% endblock %}
