{% extends "index.html" %}

            {% block navigation %}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class=""><a href="index.html">Production</a></li>
                    <li class=""><a href="dev.html">Development</a></li>
                    <li class="active"><a href="infra.html">Infrastructure</a></li>
                    <li class=""><a href="about.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            {% endblock %}

{% block status_indicators %}
    <div class="row show-grid status-indicators">
        <div class="span12">

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="EC2" data-label="EC2">
                        <thead id="EC2-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="EC2-status">AWS/EC2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="EC2-status-indicator">
                            <td id="EC2-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="EC2-major" class="status-indicator-count"><b>0</b></td>
                            <td id="EC2-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="EC2-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="EC2-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Dynect" data-label="Dynect">
                        <thead id="Dynect-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Dynect-status">Dynect</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Dynect-status-indicator">
                            <td id="Dynect-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Dynect-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Dynect-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Dynect-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Dynect-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Ping" data-label="Ping">
                        <thead id="Ping-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Ping-status">Ping</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Ping-status-indicator">
                            <td id="Ping-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Ping-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Ping-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Ping-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Ping-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="SNMP" data-label="SNMP">
                        <thead id="SNMP-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="SNMP-status">SNMP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="SNMP-status-indicator">
                            <td id="SNMP-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="SNMP-major" class="status-indicator-count"><b>0</b></td>
                            <td id="SNMP-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="SNMP-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="SNMP-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->

            <div class="row show-grid">
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="SolarWinds" data-label="SolarWinds">
                        <thead id="SolarWinds-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="SolarWinds-status">SolarWinds</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="SolarWinds-status-indicator">
                            <td id="SolarWinds-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="SolarWinds-major" class="status-indicator-count"><b>0</b></td>
                            <td id="SolarWinds-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="SolarWinds-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="SolarWinds-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Syslog" data-label="Syslog">
                        <thead id="Syslog-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Syslog-status">Syslog</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Syslog-status-indicator">
                            <td id="Syslog-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Syslog-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Syslog-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Syslog-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Syslog-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="HTTP" data-label="HTTP">
                        <thead id="HTTP-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="HTTP-status">HTTP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="HTTP-status-indicator">
                            <td id="HTTP-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="HTTP-major" class="status-indicator-count"><b>0</b></td>
                            <td id="HTTP-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="HTTP-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="HTTP-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span3">
                    <table class="table table-bordered table-condensed status-indicator" id="Riemann" data-label="Riemann">
                        <thead id="Riemann-overall" class="status-indicator-overall">
                        <tr>
                            <th colspan="6" id="Riemann-status">Riemann</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="Riemann-status-indicator">
                            <td id="Riemann-critical" class="status-indicator-count"><b>0</b></td>
                            <td id="Riemann-major" class="status-indicator-count"><b>0</b></td>
                            <td id="Riemann-minor" class="status-indicator-count"><b>0</b></td>
                            <td id="Riemann-warning" class="status-indicator-count"><b>0</b></td>
                            <td id="Riemann-normal" class="status-indicator-count"><b>0</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- row -->
        </div>
    </div>
{% endblock %}

{% block initialiser %}
<script>
    $(document).ready(function() {

        heartbeatAlerts();

        var env_filter = ''; // all environments
        var asiFilters = {
            'CloudWatch':    '&origin=~alert-cloudwatch',
            'Dynect':        '&origin=~alert-dynect',
            'Ping':          '&origin=~alert-pinger',
            'SNMP':          '&origin=~alert-snmptrap',
            'SolarWinds':    '&origin=~alert-solarwinds',
            'Syslog':        '&origin=~alert-syslog',
            'HTTP':          '&origin=~alert-urlmon',
            'Riemann':       '&origin=~riemann'
        };
        updateStatusCounts(env_filter, true);
        updateAllIndicators(env_filter, asiFilters, true);
        updateAlertsTable(env_filter, asiFilters);
    });
</script>
{% endblock %}
